*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
}

/* Aqui inicia la seccion 1*/
.section-1{
    width: 100%;
    height: 10em;
    background: linear-gradient(90deg,rgba(192, 12, 93, 0.933),#ff50ff);
    padding-top: 1.5em;
}
.header{
    background-color: #2d2f3e;
    width: 100%;
    height: 3em;
    flex-direction: row;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.img{
    
    width: 25%;
    height: 100%;
}

.menu{
    
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.img img {
    object-fit: cover;
    height: 100%;
}

.menu a{
    display: flex;
    text-decoration: none;
    color: #fff;
    padding: 2em 1em;
}

.menu a:hover{
    background-color: #000003;
}


/* Aqui finaliza la seccion 1 */

/*################################################################*/

/* Aqui inicia la seccion 2 */

.section-2 {
    width: 100%;
    /*height:  calc(100vh - 20em);*/
    height: 80%;
    background: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 1em;
}

.div-img img{
    object-fit: cover;
    width: 100% ;

}

.div-texto {
    background-color: blueviolet;
    width: 100%;
    height: 50%;
}

.s-2-texto {

    width: 80%;
    height: 25%;


}

.s2-img{
    background: orange;
    width: 80%;
    height: 75%;

}

.s-2-texto hr{
    width: 10%;
    height: 0.25em;
    background: linear-gradient(90deg,rgba(192, 12, 93, 0.933),#ff50ff);
    border: none;
    border-radius: 1em;
    margin: 1em auto;
}

.s-2-texto p{
    font-size: 1.2em;
}

.titulo{
    font-size: 2em;
    text-align: center;
    color: #00020f;
    
}

.contenido-img {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px ;
}

.div-img { 
    background: #ff50ff;
    width: 100%;
    height: 50%;
}

.div-img {
    background: rgb(233, 250, 3);
    width: 100%;
    height: 50%;
}
/* Aqui finaliza la seccion 2 */

/*################################################################*/

/* Aqui inicia la seccion 3 */

.section-3 {
    width: 100%;
    height: 10em;
    background: red;
    

}
.s3-logo img{
    width: 1em;
    height: 1em;
}









/* Aqui finaliza la seccion 3 */